{% extends 'layout.html' %}

{% block content %}
<section class="header">
    <h1>Jaeson Shin</h1>
    <p>Aspiring Python developer, open for a job opportunity</p>
    <!--I would suggest choosing a different picture here.-->
    <!--Like maybe a hobby photo-->
    <img src="/static/images/bike.jpg" alt="Headshot of myself">
</section>
<section id="about-page">
    <div id="triangle7"></div>
    <div id="triangle8"></div>
    <h2>Why programming?</h2>
    <p>
        I like building and fixing, and when I do, I'm always faced with problems. Sometimes, they give me a headache,
        hopelessness, but when I accomplish my goal - whether it's making a shelf or repairing my kid's bike, it gives
        me enormous joy. Recently, I've realized that this is the life of a developer, and it was only natural to pursue
        my newly found passion.
    </p>
    <p>
        Passion for solving problems is one of my strengths. Sleepless nights fixing a broken computer or setting up a
        wireless signal repeater with a Wi-Fi router were common affairs. Additionally, I am a self-driven learner. I
        have taught myself HTML, CSS, and some Adobe applications which I employ for my current job, and I have learned
        the basics of python on my own. I have also lived in different countries, and I can adapt quickly to new
        environments. Besides, as a parent of two, I have to be certain and passionate to devote myself to a new path.
    </p>
    <a href="#"><i class="far fa-file"></i>Resume</a>
</section>
{% endblock %}